@page
@model Pethub.Pages.PetManagement.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Pet</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Pet.Id" />
            <div class="form-group">
<span class="text-danger">*</span>
                <label asp-for="Pet.Name" class="control-label"></label>
                <input asp-for="Pet.Name" class="form-control" aria-required="true"/>
                <span asp-validation-for="Pet.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
<span class="text-danger">*</span>
                <label asp-for="Pet.Species" class="control-label"></label>
                <input asp-for="Pet.Species" class="form-control" aria-required="true"/>
                <span asp-validation-for="Pet.Species" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pet.Breed" class="control-label"></label>
                <input asp-for="Pet.Breed" class="form-control" />
                <span asp-validation-for="Pet.Breed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pet.Age" class="control-label"></label>
                <input asp-for="Pet.Age" class="form-control" />
                <span asp-validation-for="Pet.Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pet.VaccinationStatus" class="control-label"></label>
                <input asp-for="Pet.VaccinationStatus" class="form-control" />
                <span asp-validation-for="Pet.VaccinationStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pet.ImagePath" class="control-label"></label>
                <input asp-for="Pet.ImagePath" class="form-control" />
                <span asp-validation-for="Pet.ImagePath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pet.AccountId" class="control-label"></label>
                <select asp-for="Pet.AccountId" class="form-control" asp-items="ViewBag.AccountId" ></select>
                <span asp-validation-for="Pet.AccountId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
