@page
@model Pethub.Pages.AccountManagement.CreateModel

        @{
        ViewData["Title"] = "Create";
        }
        
        <h1>Create</h1>
        
    <h4>Account</h4>
    <hr />
    <div class="row">
    <div class="col-md-4">
    <form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Account.Username" class="control-label"></label>
                <input asp-for="Account.Username" class="form-control" aria-required="true"/>
                <span asp-validation-for="Account.Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Account.Password" class="control-label"></label>
                <input asp-for="Account.Password" class="form-control" aria-required="true"/>
                <span asp-validation-for="Account.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Account.Email" class="control-label"></label>
                <input asp-for="Account.Email" class="form-control" aria-required="true"/>
                <span asp-validation-for="Account.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Account.Gender" class="control-label"></label>
                <input asp-for="Account.Gender" class="form-control" aria-required="true"/>
                <span asp-validation-for="Account.Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Account.Address" class="control-label"></label>
                <input asp-for="Account.Address" class="form-control" aria-required="true"/>
                <span asp-validation-for="Account.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Account.Contact" class="control-label"></label>
                <input asp-for="Account.Contact" class="form-control" aria-required="true"/>
                <span asp-validation-for="Account.Contact" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Account.Birthday" class="control-label"></label>
                <input asp-for="Account.Birthday" class="form-control" aria-required="true"/>
                <span asp-validation-for="Account.Birthday" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Account.Age" class="control-label"></label>
                <input asp-for="Account.Age" class="form-control" />
                <span asp-validation-for="Account.Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
